{{#each post as |post| }}
<section class="post">
    <div class="post-header">
        <div class="post-headline">
            <h3>{{post.title}}</h2>
        </div>
        <div class="post-user-date">
            <h4>Posted on {{format_date post.date_created}}</h4>
        </div>
    </div>
    <p>{{post.message}}</p>
</section>
{{/each}}

