<section class="post">
    <div class="post-header">
        <div class="post-headline">
            <h3>POST</h3>
        </div>
        <div class="post-user">
            <img class="kevin" src="/Images/Kevin.jpg" alt="User Photo" class="UserPhoto">
			<h4>Posted by Kevin Bacon</h4>
        </div>
    </div>
    <p>This is the body of a blog post.</p>
</section>

