<h3>Login</h3>

<form class="form login-form" id="login-form">
  <div class="form-group">
    <label for="email-login"><h4>email:</h4></label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login"><h4>password:</h4></label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit"><h4>login</h4></button>
  </div>
</form>

<a href="http://localhost:3001/signup" class="signup">Signup</a>
{{!-- <a href="http://localhost:3001/login" class="login">Signup</a> --}}

<script src="/js/login.js"></script>