<section class="login">
  <div class="section-header">
    <h3>Login</h3>
  </div>
  <div class="section-body">
    <form id="login">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <button type="submit">Login</button>
      <label for="signup"><a href="/signup">Sign up</a></label>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>