<section class="signup">
  <div class="section-header">
    <h3>Sign Up</h3>
  </div>
  <div class="section-body">
    <form id="signup">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <button type="submit">Sign Up</button>
      <label for="login"><a href="/login">Login</a></label>
    </form>
  </div>
</section>

<script src="/js/signup.js"></script>