@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Chango&family=PT+Sans+Narrow:wght@400;700&display=swap');

/* Bacon colors */

:root {
    --tan: #F2BE7E;
    --red: #A61414;
    --lightred: #BF2424;
    --darkpink: #D93B3B;
    --pink: #F25757;
    --white: #FFFFFF;
    --lightpink: #FF6666;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--lightpink);
}

a {
    font-weight: bold;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Chango', cursive;
    color: var(--white);
    font-size: 64px;
}

h3 {
    font-size: 32px;
    font-family: 'Chango', cursive;
    font-weight: 700;
    color: var(--white);
}

h4 {
    font-size: 24px;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: var(--white);
}

nav {
    display: flex;
    justify-content: normal;
    align-items: flex-start;
}

nav a {
    width: 150px;
    font-size: 22px;
    font-family: 'Chango', cursive;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    margin: 15px;
}

#masthead {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 50px;
    padding: 10px 15px;
}

#masthead img {
    width: 78px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px;
}

.section-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 15px;
}

.section-body {
    margin: 10px 0;
}