<section class="post">
    <div class="post-header">
        <div class="post-headline">
			<h3><img class="KevinPicture" src="../../../public/Images/Kevin2.jpg"></h3>
            <h3>{{post.title}}</h3>
            <h3>Posted by Kevin Bacon</h3>
        </div>
    </div>
    <p>{{post.message}}.</p>
</section>